<div class="row">
  <div class="col-xs-3">
    <h4>Tickets Available for:</h4>
  </div>
  <div class="col-xs-3">
    <input type="text" class="form-control" placeholder="Search a movie" data-ng-model="search">
  </div>
</div>
<ul>
  <li data-ng-repeat= "movie in movies | orderBy: 'name' : true | filter:search">
    {{ movie.name | uppercase }}
    <a href="javascript:" data-ng-click="getMovieById(movie.id)">Availability</a> |
    <a ng-href="#/movie/{{ movie.id }}">Review</a>
  </li>
</ul>
<br>
<label data-ng-show="currMovie">Availability for {{ currMovie.name }} is {{ currMovie.availability }}</label>